In [ ]:
print("Hello World")

Hello World

In [ ]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [ ]:
name = "Darth Plagueis"
attribute = "wise"
print("Did you ever hear the tragedy of " + name + " the " + attribute + "?\nHe was a dark lord of the sith")

name = "Your mom"
attribute = "fat"
print("Did you ever hear the tragedy of " + name + " the " + attribute + "?\nShe was overweight")

Did you ever hear the tragedy of Darth Plagueis the wise?
He was a dark lord of the sith
Did you ever hear the tragedy of Your mom the fat?
She was overweight

In [ ]:
phrase = "I am the senate"
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])
print(phrase.index("a"))
print(phrase.index("senate"))
print(phrase.replace("I am", "Your mom is"))

I AM THE SENATE
False
True
15
I
2
9
Your mom is the senate

In [ ]:
print(66)
print(9 + 10)
print(6 * 11)
print(4 + 2 * 3)
print((4 + 2) * 3)
print(22 % 7)

num = 66
print("Execute order " + str(num))
print(pow(66, 66))
print(max(66, 501))
print(min(66, 501))
print(round(314.15))

from math import *

print(floor(4.5))
print(ceil(4.5))
print(sqrt(114))

66
19
66
10
18
1
Execute order 66
1.2299848035352374e+120
501
66
314
4
5
10.677078252031311

In [ ]:
response = input("Execute Order 66")
print(response + " My lord")

Execute Order 66It will be done
It will be done My lord

In [ ]:
serial_number = input("Enter your serial number: ")
nickname = input("Enter your nickname: ")
print("You are CT " + serial_number + " or \"" + nickname + "\"")

Enter your serial number: 7567
Enter your nickname: Rex
You are CT 7567 or "Rex"

In [ ]:
num1 = input("Enter one number: ")
num2 = input("Enter another number: ")
result = float(num1) + float(num2)

print(result)

Enter one number: 7
Enter another number: 2
9.0

In [ ]:
color = input("Enter a color: ")
plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")

print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

Enter a color: Green
Enter a plural noun: credits
Enter a celebrity: Hayden Christensen
Roses are Green
credits are blue
I love Hayden Christensen

In [ ]:
star_wars_characters = ["Anakin", "Obi-wan", "C-3PO", "Padme", "Rush Clovis"]
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19]

star_wars_characters.sort()
print(star_wars_characters)
star_wars_characters.reverse()
print(star_wars_characters)

coolbois = star_wars_characters.copy()
print(coolbois)

print(star_wars_characters[4])
print(star_wars_characters[-4])
print(star_wars_characters[3:])
print(star_wars_characters[1:4])
star_wars_characters[1] = "Kenobi"
print(star_wars_characters[1])

star_wars_characters.extend(prime_numbers)
print(star_wars_characters)
prime_numbers.append(23)
print(prime_numbers)
star_wars_characters.insert(2, "R2D2")
print(star_wars_characters)
star_wars_characters.remove(2)
print(star_wars_characters)
star_wars_characters.clear()
print(star_wars_characters)
prime_numbers.pop()
print(prime_numbers)

print(prime_numbers.index(7))

['Anakin', 'C-3PO', 'Obi-wan', 'Padme', 'Rush Clovis']
['Rush Clovis', 'Padme', 'Obi-wan', 'C-3PO', 'Anakin']
['Rush Clovis', 'Padme', 'Obi-wan', 'C-3PO', 'Anakin']
Anakin
Padme
['C-3PO', 'Anakin']
['Padme', 'Obi-wan', 'C-3PO']
Kenobi
['Rush Clovis', 'Kenobi', 'Obi-wan', 'C-3PO', 'Anakin', 2, 3, 5, 7, 11, 13, 17, 19]
[2, 3, 5, 7, 11, 13, 17, 19, 23]
['Rush Clovis', 'Kenobi', 'R2D2', 'Obi-wan', 'C-3PO', 'Anakin', 2, 3, 5, 7, 11, 13, 17, 19]
['Rush Clovis', 'Kenobi', 'R2D2', 'Obi-wan', 'C-3PO', 'Anakin', 3, 5, 7, 11, 13, 17, 19]
[]
[2, 3, 5, 7, 11, 13, 17, 19]
3

In [ ]:
coordinate = (4, 5)
print("can't change tuple")

In [ ]:
def sayhellothere (name, attribute):
  print("Hello there " + name + ", You are a " + attribute + " one")

sayhellothere("General Kenobi", "bold")

Hello there General Kenobi, You are a bold one

In [ ]:
def cube(number):
  return number*number*number

result = cube(4)
print(result)
print("you can't put code after return")

64
you can't put code after return

In [ ]:
is_male = True
is_cool = False

if is_male and is_cool:
  print("You're Adam")
elif is_male and not(is_cool):
  print("you're a dude but not cool")
elif not(is_male) and is_cool:
  print("You're a cool girl")
else:
  print("You're aren't Adam")

you're a dude but not cool

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3


print(max_num(3, 4, 5))

5

In [ ]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if  op == "+":
  print(num1 + num2)
elif op == "-":
  print(num1 - num2)
elif op == "/":
  print(num1 / num2)
elif op == "*":
  print(num1 * num2)
else: 
  print ("invalid operator")

Enter first number: 7
Enter operator: *
Enter second number: 2
14.0

In [ ]:
month_conversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March", 
    "Apr": "April",
}

print(month_conversions["Feb"])
print(month_conversions.get("501", "Not a valid key"))

February
Not a valid key

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

print("finito benito")

1
2
3
4
5
6
7
8
9
10
finito benito

In [ ]:
secret_word = "giraffe"
guess = ""
guess_count = 0 
guess_limit = 3
out_of_guesses = False

while guess!= secret_word and not(out_of_guesses):
  if guess_count <  guess_limit:
    guess = input("Enter guess: ")
    guess_count += 1
  else:
    out_of_guesses = True

if out_of_guesses:
  print("Failure!")  
else:
  print("Ah, victory")

Enter guess: giraffer
Enter guess: giraffe
Ah, victory

In [ ]:
for letter in "Star Wars":
  print(letter)

friends = ["Junghwan", "Zahir", "No friends"]
for boi in friends:
  print(boi)  

for bloop in range(10):
  print(bloop)

for noob in range(3, 10):
  print(noob)

for kell in range(len(friends)):
  print(friends[kell])

S
t
a
r

W
a
r
s
Junghwan
Zahir
No friends
0
1
2
3
4
5
6
7
8
9
3
4
5
6
7
8
9
Junghwan
Zahir
No friends

In [ ]:
def raise_to_power(base_num, pow_num):
  result = 1
  for index in range(pow_num):
    result = result * base_num
  return result

print(raise_to_power(3, 2))

9

In [ ]:
number_grid = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
[0]               
]

print(number_grid[2][0])

for row in number_grid:
  for col in row:
    print(col)

7
1
2
3
4
5
6
7
8
9
0

In [ ]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter.lower() in "aeiou":
      if letter.isupper():
        translation = translation + "G"
      else:   
        translation = translation + "g"
    else:
      translation = translation + letter
  return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase: OH I dont think so
GH G dgnt thgnk sg

In [ ]:
# Star Wars is the best

In [ ]:
try:
  answer = 10/0
  number = int(input("Enter a number: "))
  print(number)
except ZeroDivisionError as err:
  print(err)
except  ValueError: 
  print("Invalid input")

division by zero

In [ ]:
class Student:
  
  def __init__(self, name, major, gpa, is_on_probation):
    self.name = name
    self.major = major
    self.gpa = gpa
    self.is_on_probation = is_on_probation

  def on_honor_roll(self):
    if self.gpa >= 3.5:
      return True
    else:
      return False

student1 = Student("Jim", "Business", 3.1, False)




print(student1.name)
print(student1.gpa)
print(student1.on_honor_roll())

Jim
3.1
False

In [ ]:
class Question:
  def __init__(self, prompt, answer):
    self.prompt = prompt
    self.answer = answer

question_prompts = [
  "Who is Anakin's Mother?\n(a) Shmi\n(b) Leia\n(c) Beru\n\n", 
  "What jedi is Obi-wan in TPM?\n(a) Master\n(b) Knight\n(c) Padawan\n\n",
  "What year does ROTS take place?\n(a) 22 BBY\n(b) 19 BBY\n(c) 4 ABY\n\n"                  
]

questions = [
  Question(question_prompts[0], "a"),  
  Question(question_prompts[1], "c"),         
  Question(question_prompts[2], "b"), 
]

def run_test(questions):
  score = 0
  for question in questions:
    answer = input(question.prompt)
    if answer == question.answer:
      score += 1
  print("You got " + str(score) + "/" + str(len(questions)) + " correct")

run_test(questions)

Who is Anakin's Mother?
(a) Shmi
(b) Leia
(c) Beru

a
What jedi is Obi-wan in TPM?
(a) Master
(b) Knight
(c) Padawan

c
What year does ROTS take place?
(a) 22 BBY
(b) 19 BBY
(c) 4 ABY

b
You got 3/3 correct